body{
    font-family: 'Josefin Sans', sans-serif;
}

/* first pic css */
.first{
    border-radius: 12px;
    width: 100%;
    height: 600px;
    flex-shrink: 10;
    align-items: center;
    padding: 15px 15px 15px 15px;  
}
.firstpic{
    filter: brightness(70%);
    border-radius: 12px;
width: 1400px;
height: 600px;
flex-shrink: 10;
align-items: center;
padding: 15px 15px 15px 15px;
}

.newyear1{
    position:absolute;
    top:34%;
    left:46%;
    color: white;
    text-align: center;

font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal
}

.newyear2{
    position:absolute;
    top:42%;
    left:41%;
    color: whitesmoke;
    text-align: center;

font-size: 70px;
font-style: normal;
font-weight: 800;
line-height: normal
}
.newyear3{
    position:absolute;
    top:52%;
    left:45%;
    color: whitesmoke;
    text-align: center;

font-size: 70px;
font-style: normal;
font-weight: 800;
line-height: normal
}

/* 2nd part css */
.happynewyear{
    padding: 0px;
    border-radius: 5px;
    justify-content: space-between;
}
.percent{
    color: red;
text-align: center;
font-size: 88px;
font-style: normal;
font-weight: 900;
line-height: normal;
padding: 0px;
}

.description{
    color: red;
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 0px;
}

.description1{
    color: #070211;
text-align: center;
font-size: 48px;
font-style: normal; 
font-weight: 700;
line-height: normal;
}
.secondpic{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  padding: 10px;
}

.thirdpic{
    filter:brightness(50%);
    border-radius: 12px;
width: 1450px;
height: 600px;
flex-shrink: 00;
align-items: center;
padding: 15px 15px 15px 15px;
}

.left{
   
    position: absolute;
  top: 265%; 
  left: 30%; 
  transform: translate(-50%, -50%); 
  color: #fff; 
  padding: 7px 20px; 
  font-size: 80px; 
  text-align: center;}
  .welcome{
    text-align: left;
  }

  .details{
    color: rgba(255, 255, 255, 0.80);
    text-align: left;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
  }
.pictures{
    display:flex;
    width: 1320px;
height: 600px;
flex-shrink: 0;
}
  .thirdpic2{
    display: flex;
    position: absolute;
  top: 225%; 
  right: 10%;
width: 329.83px;
height: 464.662px;
padding: 0.00px 0px 0px 0px;
flex-direction: center;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
  }

  .place{
    padding: 100px;
    border-radius: 5px;
    width: 1220px;
height: 282px;
background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);


margin: 50px;
text-align: center;
font-size: 35px;
font-style: normal;
line-height: normal;
  }
  
  .text-primary{
    color: orangered
  }
  #btn2{
    border-radius: 10px;
    background: #FD6E0A;
    border:0;
    color:white;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 15px;
  }



.leftsideoffer{
    padding-left: 05%;
    text-align: left;
    height:5px;
}
.rightsideoffer{
    justify-content: right;
    vertical-align: right;
    width: 90%; 
    padding-right: 05%;
    text-align: right;
}

.newbestoffer{
color: red;
font-weight: 500;
font-size: 24px;
font-style: bolder;
}

.description4{
    font-size: 48px;
font-style: bold;
font-weight: 600;
}

.offer{
    color: rgba(7, 2, 17, 0.60);
    font-size:18px;
    font-weight: 400;
}

.year{
    color: red;
font-weight: 500;
font-size: 40px;
font-style: bolder;
text-align: right;
}

.offer2{
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.fourthpic{
    position: absolute;
    top: 500;
    right: 22%;
    height: auto;
    max-width: 100%
}

.fifthpic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1475px; 
    height: 10px;  
}
.circle { 
    color:red;
    height: 418px;   
    width: 418px;
    padding: 15px; 
    border: solid 12px;  
    border-radius: 50%;  
    position: relative; 
    transform: translate(-50%, -50%);
    top: 98%; 
    left: 50.5%; 
}

ellipse{
    position: relative;
    left: 53%;
    align-items: center;
}



.percent{
color:red;
}
.sale{
    color:black;
}
.holidaysale{
    color: rgba(7, 2, 17, 0.60);
padding: 10px;
    text-align: center;
}
.holidayp1{
    background-image: url('Rectangle 1.png');
    height: 400px;
    width: 250px;
    background-size:contain;
    background-repeat: no-repeat;
    margin-top: 30px;
    float: right;
    position:relative;
    right: 9%;
}
.holidayp2{
    height: 180px;
    width: 180px;
    margin-top: 38px;
    margin-left: -39%;
}
.holidayp3{
    background-image: url('Rectangle 2.png');
    height: 140px;
    width: 100%;
    margin-top:295px ;
    background-repeat: no-repeat;
    align-items: center;
    position: relative;
    left: 3%;
}
.holidayp4{
    position: relative;
    height: 350px;
    width: 400px;
    margin-top: 50px;
    margin-right: -47%;
    left: 10%;
    top: -185%;
}



.container{
    padding-left: 05%;
    text-align: left;
    height:5px;
}

.ourortfolio{
    font-size: 48px;
    font-style: bold;
    font-weight: 600;
}

.portfolioads{
    color: rgba(7, 2, 17, 0.60);
}
.grid-container {
    display: grid;
    position: relative;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    padding: 20px; 
    top: 250px;
    left: 5%;
    width: 424px;
    height: 450px;
  
  

}

.subscribe{
        padding: 40px;
        border-radius: 15px;
    background:  rgba(255, 0, 0, 0.05);


    margin: 140px;
    position: relative;
    top: 750px;
    align-items: center;
   
}

.mail{
    align-items: center;
    width: 150px;
height: 150px;
position: relative;
justify-content: space-around;
left: 43%
}
.subnews{
    color: #070211;

text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}

.news{
    color: rgba(7, 2, 17, 0.60);

text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}

.emailfull{
align-items: center;
text-align: center;
display: table-cell;
position: relative;
border:none;
width:460px;
height:50px;
padding:0 16px;
left:58%;
   
}

.email{
    position: relative;
}
input[type="text"]{
    border: none;
    width: 460px;
    height: 50px;
    padding: 0 16px;
    border-radius: 10px;
    color:#6c6c6c
    
}
.sub{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:  orangered;
    color: white;
    padding: 0 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border:0;
    color:white;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 15px;
}
button:hover{
    transition: .8s;
    background-color: #6c6c6c;
}

/* footer */
footer{
    display: flex;
    gap:100px;
    background:black;
    padding: 130px 120px;
    margin-top: 800px;
    text :white;
}



.footer-column{
    width:45%;
}
.address{
    color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
}
.reserved{
    display:flex;
    text-align:left;
    color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 40px;
position:relative; 
top: 200px;
left: 0px;
}

.social-links{
  position: relative;
  top: 1px;
left: 450px;

}

.weblink{
    display: flex;
  align-items: center;
  position: absolute;
  font-size: 8px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  float: right;
  right:65px;
  height:69px;
  width:15%;
  clear:right;
}
.number{
    color:white;
    font-size: 10px;
}
.web{
    display: flex; 
    align-items: center;
  position:relative;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  top: -40px;
  right: -690px;
  height:200px;
  margin-top:10px;
  float:right;
  width:1%;
  clear:right;
 
}
.webnum{
    display: flex;
}
.website{
    position: relative;
    color:white;
    font-size: 15px;
}
.unsub{
    position: relative;
    right: -440px;
    top: 350px;
    color:#FFF;
}